.LandingPage{
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: beige;
    background-color: midnightblue;
    background-size: auto;
    min-height: 100vh;
}